<!-- ionTabs wraps the ionTab directives -->
<ion-tabs class="tabs-icon-top tabs-dark tabs-striped">
  <!-- Quotes tab -->
  <ion-tab title="Quotes" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse" ui-sref="tabs.quotes">
    <!-- ionNavView for the quotes tab -->
    <ion-nav-view name="quotes"></ion-nav-view>
  </ion-tab>
  <!-- Portfolio tab -->
  <ion-tab title="Portfolio" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tabs.portfolio">
    <!-- ionNavView for the portfolio tab -->
    <ion-nav-view name="portfolio"></ion-nav-view>
  </ion-tab>
</ion-tabs>
